.gfv1.sheet .window-content {
  overflow-y: scroll;
}
.gfv1.sheet.actor-sheet .sheet-header .profile-img {
  height: 128px;
  width: 128px;
}
.gfv1.sheet.actor-sheet .sheet-header .header-fields {
  padding: auto;
}
.gfv1.sheet.actor-sheet .basic-info .fields {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  padding: 5px;
}
.gfv1.sheet.actor-sheet .basic-info .actor-controls {
  position: relative;
}
.gfv1.sheet.actor-sheet .basic-info .actor-controls .edit-btn {
  position: absolute;
  right: 0;
}
.gfv1.sheet.actor-sheet .gorgon-class {
  margin-bottom: 5px;
}
.gfv1.sheet.actor-sheet .gorgon-class .gorgon-class-header .item-img {
  flex: 5%;
}
.gfv1.sheet.actor-sheet .gorgon-class .gorgon-class-header .item-name {
  flex: 95%;
}
.gfv1.sheet .item-img {
  cursor: grab;
}
.gfv1.sheet .item-img img {
  height: 24px;
  width: 24px;
}
.gfv1.sheet .item-input.pending {
  cursor: wait;
  opacity: 0.2;
}
.gfv1.sheet .sheet-body {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 250px;
}
.gfv1.sheet .sheet-body .play-description {
  padding-bottom: 0.25rem;
}
.gfv1.sheet .sheet-body .description {
  flex: 1 1 auto;
  min-height: auto;
  display: grid;
  grid-template-rows: 1fr;
}
.gfv1.sheet .sheet-body .description .editor-content {
  padding: 0;
}
.gfv1.sheet .item-list-group {
  display: grid;
  grid-template-columns: auto 2fr 1fr auto;
  grid-auto-rows: auto;
}
.gfv1.sheet .item-list-group .items-list {
  grid-template-columns: subgrid;
}
.gfv1.sheet .items-list {
  grid-template-columns: auto 2fr 1fr auto;
  grid-auto-rows: auto;
  grid-column: 1/-1;
  display: grid;
  padding: 0;
}
.gfv1.sheet .items-list .item {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  align-items: center;
  gap: 5px;
}
.gfv1.sheet .items-list .item .item-props {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  justify-items: center;
}
.gfv1.sheet .items-list .item .item-controls {
  text-align: right;
}
.application .tab[data-tab]:not(.active) {
  display: none;
}
.glow,
.glowing,
.handler {
  animation: glow 4s linear infinite;
}
@keyframes glow {
  0% {
    text-shadow: 0 0 3rem #0004ff, 0 0 2rem #ff00ff, 0 0 1rem #7700ff;
  }
  20% {
    text-shadow: 0 0 3rem #ff00ff, 0 0 2rem #7700ff, 0 0 1rem #ff00bf;
  }
  40% {
    text-shadow: 0 0 3rem #7700ff, 0 0 2rem #ff00bf, 0 0 1rem #ff00c8;
  }
  60% {
    text-shadow: 0 0 3rem #ff00bf, 0 0 2rem #ff00c8, 0 0 1rem #d9ff00;
  }
  80% {
    text-shadow: 0 0 3rem #d9ff00, 0 0 2rem #0004ff, 0 0 1rem #ff00ff;
  }
  100% {
    text-shadow: 0 0 3rem #0004ff, 0 0 2rem #ff00ff, 0 0 1rem #7700ff;
  }
}
.roll-low {
  color: #0c58a5;
}
.roll-med {
  color: #007744;
}
.roll-high {
  color: #962d2b;
}
.play-description label {
  font-weight: bold;
  font-size: 1rem;
}
.play-result label {
  font-weight: bold;
  font-size: 1rem;
}
.roll-result {
  text-align: center;
}
.roll-result .result-calculation {
  display: grid;
  grid-auto-flow: column;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px white inset;
  padding-bottom: 3px;
  overflow: hidden;
}
.roll-result .result-calculation .value {
  font-size: 1rem;
}
.roll-result .result-calculation .icon {
  font-size: 1.5rem;
}
.roll-result .result-calculation .icon.fa-fire {
  color: #730d0d;
}
.roll-result .result-calculation .icon.fa-dice-one,
.roll-result .result-calculation .icon.fa-dice-two,
.roll-result .result-calculation .icon.fa-dice-three,
.roll-result .result-calculation .icon.fa-dice-four,
.roll-result .result-calculation .icon.fa-dice-five,
.roll-result .result-calculation .icon.fa-dice-six {
  color: #225522;
}
.roll-result .result-calculation .icon.fa-wrench {
  color: #444444;
}
.roll-result .result-calculation .operator,
.roll-result .result-calculation .operand,
.roll-result .result-calculation .result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  word-break: normal;
}
.roll-result .result-calculation .result .value {
  font-size: 2rem;
  margin-right: 5px;
}
.roll-result .result-graphic .targets,
.roll-result .result-graphic .results {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
.roll-result .result-graphic .targets {
  font-size: 1.5rem;
}
.roll-result .result-graphic .targets > * {
  display: grid;
}
.roll-result .result-graphic .results {
  border-radius: 1rem;
  overflow: hidden;
}
.roll-result .result-graphic .results > * {
  font-size: 2rem;
  color: var(--color-text-primary);
  text-shadow: 2px 2px black;
}
.roll-result .result-graphic .results .roll-high {
  background-color: #962d2b;
}
.roll-result .result-graphic .results .roll-med {
  background-color: #007744;
}
.roll-result .result-graphic .results .roll-low {
  background-color: #0c58a5;
}
